<div class="input-group mb-3 m-3">
	<button class="btn btn-primary" type="button" (click)="listHotelsById(inputHotel.value)">By hotel id</button>
	<button class="btn btn-primary" type="button" (click)="listHotelsByCityId(inputHotel.value)">By city id</button>
	<button class="btn btn-primary" type="button" (click)="listHotelsBySecurityLevel(inputHotel.value)">By security level</button>
	<button class="btn btn-primary" type="button" (click)="listHotelsByEnergySuficient(inputHotel.value)">By energy sufficiency</button>
	<input type="text" class="form-control md-7" placeholder="Search" #inputHotel>
</div>

<table class="table table-hover table-borderless">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Hotel name</th>
			<th scope="col">Country</th>
			<th scope="col">City</th>
			<th scope="col">Security level</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let singleHotel of hotelList" data-bs-toggle="modal" data-bs-target="#hotelsModal"
			(click)="assignHotel(singleHotel)">
			<ng-container *ngIf="singleHotel.city">
				<th scope="row">{{singleHotel.id}}</th>
				<td>{{singleHotel.name}}</td>
				<td>{{singleHotel.city.country.countryCode}}</td> <!-- country code -->
				<td>{{singleHotel.city.name}}</td> <!-- city name -->
				<td>{{singleHotel.securityLevel}}</td>
			</ng-container>
		</tr>
	</tbody>
</table>


<!-- The Modal -->
<div class="modal" id="hotelsModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content bubble shadow">

			<!-- Modal Header -->
			<div class="modal-header">
				<h3 class="modal-title">Hotel</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<ng-container *ngIf="hotel">
					<p>Id: {{hotel.id}}</p>
					<p>Name: {{hotel.name}}</p>
					<p>Phone number: {{hotel.phonenumber}}</p>
					<p>Email: {{hotel.email}}</p>
					<p>Address: {{hotel.address}}</p>
					<p>Security level: {{hotel.securityLevel}}</p>
					<p>Energy sufficient: {{hotel.energySuficient}}</p>
					<h4>City:</h4>
					<p>id:  {{hotel.city.id}}</p>
					<p>Name: {{hotel.city.name}}</p>
					<h4>Country:</h4>
					<p>Id: {{hotel.city.country.id}}</p>
					<p>Country code: {{hotel.city.country.countryCode}}</p>
					<p>Country name: {{hotel.city.country.countryName}}</p>
					<p>Situation: {{hotel.city.country.situation}}</p>
				</ng-container>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
