<!-- Component that contains all the block relative the booking edition: create-edit-delete -->
<div class="container bg-success rounded">
	<h2>Data viewer</h2>
</div>

<nav>
	<div class="nav nav-tabs bg-light navbar-expand-lg box__container " id="nav-tab" role="tablist">
		<button class="nav-link active rounded text-dark" id="nav-bookings-tab" data-bs-toggle="tab"
			data-bs-target="#nav-bookings" type="button" role="tab" aria-controls="nav-bookings"
			aria-selected="true">Bookings</button>
		<button class="nav-link rounded text-dark" id="nav-data-bookings-tab" data-bs-toggle="tab"
			data-bs-target="#nav-data-bookings" type="button" role="tab" aria-controls="nav-data-bookings"
			aria-selected="false">Bookings data</button>
		<button class="nav-link rounded text-dark" id="nav-rooms-tab" data-bs-toggle="tab" data-bs-target="#nav-rooms"
			type="button" role="tab" aria-controls="nav-rooms" aria-selected="false">Rooms</button>
	</div>
</nav>
<div class="tab-content bg-light rounded mt-0" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-bookings" role="tabpanel" aria-labelledby="nav-bookings-tab"
		tabindex="0">
<app-room-hotels-viewer-bookings></app-room-hotels-viewer-bookings>
	</div>
	<div class="tab-pane fade" id="nav-data-bookings" role="tabpanel" aria-labelledby="nav-data-bookings-tab"
		tabindex="1">
        <app-room-hotels-viewer-rooms></app-room-hotels-viewer-rooms>	
	</div>
	<div class="tab-pane fade" id="nav-rooms" role="tabpanel" aria-labelledby="nav-rooms-tab" tabindex="2">
<app-room-hotels-viewer-rooms></app-room-hotels-viewer-rooms>	
</div>
</div>
