<div class="input-group mb-3 m-3">
	<button class="btn btn-primary" type="button">By city
		id</button>
	<button class="btn btn-primary" type="button">By city
		name</button>
	<button class="btn btn-primary" type="button">By country
		code</button>
	<input type="text" class="form-control md-7" placeholder="Search">
</div>

<table class="table table-borderless">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">City name</th>
			<th scope="col">Country name</th>
			<th scope="col">Longitude</th>
			<th scope="col">Latitude</th>
		</tr>
	</thead>
	<tbody>
		<tr  *ngFor="let city of cityList">
			<th scope="row">{{city.id}}</th>
			<td>Kirtze</td>
			<td>Bhutan</td>
			<td>49</td>
			<td>10</td>
		</tr>
	</tbody>
</table>
