<div class="input-group mb-3 m-3">
	<button class="btn btn-primary" type="button" (click)="getCityById(cityid.value)">By city
		id</button>
	<button class="btn btn-primary" type="button" (click)="getCityByName(cityid.value)">By city
		name</button>
	<button class="btn btn-primary" type="button" (click)="getCityByCountryCode(cityid.value)">By country
		code</button>
	<input type="text" class="form-control md-7" placeholder="Search" #cityid>
</div>

<table class="table table-borderless">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">City name</th>
			<th scope="col">Country name</th>
			
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let city of cityList">
			<th scope="row">{{city.id}}</th>
			<td>{{city.name}}</td>
			<ng-container *ngIf="city.country">
				<td>{{city.country.countryName}}</td>
			</ng-container>
		
		</tr>
	</tbody>
</table>
