<div class="input-group mb-3 m-3">
	<button class="btn btn-primary" type="button" (click)="listBookingsDataById(inputBookingData.value)">By bookings Id</button>
	<button class="btn btn-primary" type="button" (click)="listBookingsDataByCustomerId(inputBookingData.value)">by customer Id</button>
	<input type="text" class="form-control md-7" placeholder="Search" #inputBookingData>
</div>
<table class="table table-hover table-borderless">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Ammount</th>
			<th scope="col">numPeople</th>
			<th scope="col">Panding Pay</th>
			<th scope="col">Is Payed</th>
			<th scope="col">Id customer</th>
		</tr>

	</thead>
	<tbody>
		<tr data-bs-toggle="modal" data-bs-target="#bookingsDataModal" *ngFor="let hbookgingData of bookingDataList"
			(click)="assignBookingData(hbookgingData)">
			<th scope="row">{{hbookgingData.id}}</th>
			<td>{{hbookgingData.amount}}</td>
			<td>{{hbookgingData.numPeople}}</td>
			<td>{{hbookgingData.pendingPay}}</td>
			<td>{{hbookgingData.payed}}</td>
			<td>{{hbookgingData.customers.id}}</td>
		</tr>
	</tbody>
</table>

<!-- The Modal -->
<div class="modal" id="bookingsDataModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content bubble shadow">

			<!-- Modal Header -->
			<div class="modal-header">
				<h3 class="modal-title">Bookings Data</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<ng-container *ngIf="bookingData">
					<p>Id: {{bookingData.id}}</p>
					<p>Ammount: {{bookingData.amount}}</p>
					<p>Pending Pay: {{bookingData.pendingPay}}</p>
					<p>Is Payed: {{bookingData.payed}}</p>
					<h4>Customer:</h4>
					<p>Id Customer: {{bookingData.customers.id}}</p>
					<p>Name: {{bookingData.customers.name}}</p>
					<p>Press media: {{bookingData.customers.pressMedia}}</p>
					<p>Identification: {{bookingData.customers.docIdentifier}} {{bookingData.customers.numIdentifier}}</p>
				</ng-container>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
