<div class="input-group mb-3 m-3">
	<button class="btn btn-primary" type="button">By customer id</button>
	<button class="btn btn-primary" type="button">By media</button>
	<button class="btn btn-primary" type="button">By email</button>
	<button class="btn btn-primary" type="button">By doctype/num</button>
	<input type="text" class="form-control md-7" placeholder="Search">
</div>

<table class="table table-hover table-borderless">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Name</th>
			<th scope="col">Press Media</th>
			<th scope="col">Identifier</th>
			<th scope="col">Country code</th>
		</tr>
	</thead>
	<tbody>
		<tr data-bs-toggle="collapse" data-bs-target="#demo">
			<th scope="row">1</th>
			<td>Fernando Herrera</td>
			<td>Cosa</td>
			<td>DNI 324082367</td>
			<td>ES</td>
		</tr>
		<tr id="demo" class="collapse">
			<td colspan=5>
				<h3>Customer</h3>
				<hr>
				<p>Id: 1</p>
				<p>Name: 1</p>
				<p>Phone number: 92834567</p>
				<p>Email: Yes</p>
				<p>Press media: Cosa</p>
				<p>Doc identifier: DNI</p>
				<p>Num Identifyer: 03432945876 </p>
				<h4>Country:</h4>
				<p>Id: 1</p>
				<p>Country code: UA</p>
				<p>Country name: Ukraine</p>
				<p>Latitude: 49</p>
				<p>Longitude: 32</p>
				<p>Situation: War</p>
			</td>
		</tr>

	</tbody>
</table>
