<!------------- Form: Edit Booking/Handle------------------>
<div class="d-flex flex-column m-3 col col-12 justify-content-center align-items-right">


    <!--       Edit a handle/booking -->
    <form class="d-flex flex-column m-3 row col-12 justify-content-center align-items-center ">
        <h3 class="mb-1">Edit a handle/booking</h3>

        <!-- Edit a Handle -->
        <div class="col col-10 g-3 mb-3">

            <h6 class="mt-3 g-0 text-light bg-dark col-6 rounded">Edit a Handle</h6>


            <!-- Select a handle number  -->
            <div class="row g-3 mb-1 align-items-center">
                <div class="col-3 col-sm-3">
                    <label for="inputBookingNumber" class="col-form-label">Handle Number:</label>
                </div>
                <div class="col-6">
                    <select class="form-select form-select-sm" id="inputBookingNumber"
                        aria-label="form-select-sm example" #bookingNumber>
                        <option selected>Select handle number</option>
                        <option value="1">handle 1</option>
                        <option value="2">handle 3</option>
                    </select>
                </div>
            </div>

            <!-- ARRIVAL DATE  -->
            <div class="row g-3 mb-1 align-items-center">
                <div class="col-3 col-sm-3">
                    <label for="inputarrival" class="col-form-label">Arrival Date: </label>
                </div>
                <div class="col-6">
                    <input type="date" id="inputarrival" class="form-control" #arrivalDate disabled>
                </div>
            </div>
            <!-- DEPARTURE DATE  -->
            <div class="row g-3 mb-1 align-items-center">
                <div class="col-3 col-sm-3">
                    <label for="inputdeparture" class="col-form-label">Departure Date: </label>
                </div>
                <div class="col-6">
                    <input type="date" id="inputdeparture" class="form-control" #departureDate disabled>
                </div>
            </div>
            <!-- BOOKING NUMBER  -->
            <div class="row g-3 mb-1 align-items-center">
                <div class="col-3 col-sm-3">
                    <label for="inputBookingNumber" class="col-form-label">Booking Number:</label>
                </div>
                <div class="col-6">
                    <select class="form-select form-select-sm" id="inputBookingNumber"
                        aria-label="form-select-sm example" #bookingNumber disabled>
                        <option selected>Select booking number</option>
                        <option value="1">booking 1</option>
                        <option value="2">booking 2</option>
                        <option value="3">booking 3</option>
                    </select>
                </div>
            </div>
            <!-- ROOM DATE  -->
            <div class="row g-3 mb-1 align-items-center">
                <div class="col-auto col-sm-3">
                    <label for="inputroomnumber" class="col-form-label">Room Number:</label>
                </div>
                <div class="col-auto">
                    <select class="form-select form-select-sm" id="inputRoomNumber" aria-label="form-select-sm example"
                        #roomNumber disabled>
                        <option selected>Select a room number</option>
                        <option value="1">Room id 1</option>
                        <option value="2">Room id 2</option>
                        <option value="3">Room id 3</option>
                    </select>
                </div>
            </div>

            <!--     BUTTON to add a handle -->
            <div class="row g-2 mb-1 align-items-center">
                <div class="col-auto col-sm-2">
                    <button type="button" class="btn btn-secondary btn-lg button_1">Guardar</button>
                </div>
            </div>

        </div>


        <!-- Edit a Booking -->
        <div class="col col-10 g-3 mb-3">

            <h6 class="mt-1 g-0 text-light bg-dark col-6 rounded">Edit a Booking</h6>


            <!-- Select a booking number  -->
            <div class="row g-3 mb-1 align-items-center">
                <div class="col-3 col-sm-3">
                    <label for="inputBookingNumber" class="col-form-label">Booking Number:</label>
                </div>
                <div class="col-6">
                    <select class="form-select form-select-sm" id="inputBookingNumber"
                        aria-label="form-select-sm example" #bookingNumber>
                        <option selected>Select booking number</option>
                        <option value="1">booking id 1</option>
                        <option value="2">booking id 2</option>
                    </select>
                </div>
            </div>


            <!-- AMOUNT PRICE  -->
            <div class="row g-3 mb-1 align-items-center">
                <div class="col-3 col-sm-3">
                    <label for="inputAmount" class="col-form-label">Amount: </label>
                </div>
                <div class="col-6">
                    <input type="number" id="inputAmount" class="form-control" #bookingAmount disabled>
                </div>
            </div>
            <!-- NUM PEOPLE IN BOOKING  -->
            <div class="row g-3 mb-1 align-items-center">
                <div class="col-3 col-sm-3">
                    <label for="inputpeoplenumber" class="col-form-label">People number: </label>
                </div>
                <div class="col-6">
                    <input type="number" id="inputpeoplenumber" class="form-control" #bookingpeoplenumber disabled>
                </div>
            </div>
            <!-- CUSTOMER EMAIL  -->
            <div class="row g-3 mb-1 me-0 align-items-center">
                <div class="col-3 col-sm-3">
                    <label for="selectCustomer" class="col-form-label">Customer email:</label>
                </div>
                <div class="col-6">
                    <select class="form-select form-select-sm" aria-label=".form-select-sm example" #customeremail disabled>
                        <option selected>Select a customer email</option>
                        <option value="1">email 1</option>
                        <option value="2">email 2</option>
                        <option value="3">email 3</option>
                    </select>
                </div>

                <!-- IS PAYED  -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-3 col-sm-3">
                        <label for="inputispayed" class="col-form-label">IsPayed? </label>
                    </div>
                    <div class="col-1">
                        <input type="checkbox" id="inputispayed" class="form-control checkbox-input" #bookingpayed disabled>
                    </div>
                </div>

                <!-- IS PENDING PAY  -->
                <div class="row g-3 mb-1 align-items-right">
                    <div class="col-2 col-sm-3">
                        <label for="inputispending" class="col-form-label">Is Pending Pay? </label>
                    </div>
                    <div class="col-1">
                        <input type="checkbox" id="inputispending" class="form-control checkbox-input" #bookingpending disabled>
                    </div>
                </div>
            </div>
            <!--     BUTTOM to add a handle -->
            <div class="row g-3 mb-3 align-items-center">
                <div class="col-9 col-sm-2">
                    <button type="button" class="btn btn-secondary btn-lg button_1">Guardar</button>
                </div>
            </div>
        </div>


    </form>
    <!--     
    (click)="addCliente(clienteCif.value, clienteName.value, clienteDireccion.value, clienteGroup.valueAsNumber) -->