<!------------- Form: Delete Booking/Handle------------------>
<div class="d-flex flex-column m-3 col col-12 justify-content-center align-items-right">


    <!--       Delete a handle/booking -->
    <form class="d-flex flex-column m-3 row col-12 justify-content-center align-items-center ">
        <div class="row col-12">
            
            <h4 class="mt-1 ps-3 g-0 text-light bg-dark col-11 rounded">Delete a Handle</h4>
            <!-- Delete a Handle -->
            <div class="col col-5 g-1 mt-3 mb-3">


                <!-- Select a handle number  -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-4 col-sm-4">
                        <label for="inputHandleNumber" class="col-form-label">Handle Number:</label>
                    </div>
                    <div class="col-8">
                        <select class="form-select form-select-sm" id="inputhandleNumber" 
                            aria-label="form-select-sm example" #handleNumber
                            [(ngModel)] = "handle" [ngModelOptions]="{standalone:true}" required>
                            <option [ngValue]="handle" *ngFor="let handle of handlesList" >{{handle.id}}</option>
                        </select>
                    </div>
                </div>

                <!-- ARRIVAL DATE  -->
                <div class="row  align-items-center">
                    <div class="col-11">
                        <label for="inputarrival" class="col-form-label">Arrival Date: </label>
                        <input type="text" id="inputarrival" class="form-control" #arrivalDate name="handlearrivaldate" [(ngModel)] = "handle.arrivalDate" disabled>
                    </div>
                </div>
                <!-- DEPARTURE DATE  -->
                <div class="row mb-1 align-items-center">
                    <div class="col-11">
                        <label for="inputdeparture" class="col-form-label">Departure Date: </label>
                        <input type="string" id="inputdeparture" class="form-control" #departureDate name="handledeparturedate" [(ngModel)] = "handle.departureDate" disabled>
                    </div>
                </div>

                <!-- HOTEL INFORMATION: ROOM CODE  -->
                <div class="row mb-1 mt-2 align-items-center rounded ">
                    <div class="col-6 col-sm-10">
                        <label for="inputroomnumber" class="col-form-label fw-bold">Hotel Information:</label>
                    </div>
                    <div class="col-11">
                        <label for="hotelname">Hotel name:</label>
                        <input class="form-select form-select-sm" id="inputRoomNumber" aria-label=".form-select-sm example" #handleroomhotelname  name="handleroomnumber" [(ngModel)] = "handle.room.hotel.name" disabled>
                        <label for="roomcode">Room:</label>
                        <input class="form-select form-select-sm" id="inputRoomCode" aria-label=".form-select-sm example" #handleroomcode  name="handleroomcode" [(ngModel)] = "handle.room.code" disabled>
                        <label for="securityLevel">Security Level:</label>
                        <input class="form-select form-select-sm mb-2" id="inputRoomSecurityLevel" aria-label=".form-select-sm example" #handleroomhotelsl  name="handlesecuritylevel" [(ngModel)] = "handle.room.hotel.securityLevel" disabled>
                        <label for="energy">Sufficient Energy:</label>
                        <input class="form-select form-select-sm mb-2" id="inputRoomenergy" aria-label=".form-select-sm example" #handleroomhoteles  name="handleenergy" [(ngModel)] = "handle.room.hotel.energySuficient" disabled>
                    </div>
                </div>

            </div>

            <div class="col col-1"></div>
            <!-- Delete a Booking -->
            <div class="col col-6 g-1 mb-3">


                <!-- Select a booking number  -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-3 col-sm-4">
                        <label for="inputBookingNumber" class="col-form-label">Booking Number:</label>
                    </div>
                    <div class="col-6">
                        <select class="form-select form-select-sm" id="inputHandleBookingNumber" 
                            aria-label="form-select-sm example" #bookingHandleNumber
                            [(ngModel)] = "handle" [ngModelOptions]="{standalone:true}" disabled>
                            <option [ngValue]="handle" *ngFor="let handle of handlesList" >{{handle.booking.id}}</option>
                        </select>
                    </div>
                </div>


                <!-- AMOUNT PRICE  -->
                <div class="row mb-1 align-items-center">
                    <div class="col-6 col-sm-10">
                        <label for="inputroomnumber" class="col-form-label fw-bold">Billing data:</label>
                    </div>
                    <div class="col-3 col-sm-3">
                        <label for="inputAmount" class="col-form-label">Amount: </label>
                    </div>
                    <div class="col-6">
                        <input type="number" id="inputAmount" class="form-control" #bookingAmount name="bookingamount" [(ngModel)] = "handle.booking.amount" disabled>
                    </div>
                      <!-- IS PAYED  -->
                      <div class="row mb-1 mt-2">
                        <div class="col-6 col-sm-8 mb-2">
                            <label for="inputispayed" class="col-form-label">IsPayed? </label>
                        </div>
                        <div class="col-sm-3 col-4 mt-2  form-check">
                            <input type="checkbox" id="inputispayed" class="form-control form-check-input"  #handlebookingpayed name="handlebookingpayed" [(ngModel)] = "handle.booking.payed" disabled>
                        </div>
                    </div>

                    <!-- IS PENDING PAY  -->
                    <div class="row  mb-1 mt-2">
                        <div class="col-6 col-sm-8 mb-2">
                            <label for="inputispending" class="col-form-label">Is Pending Pay? </label>
                        </div>
                        <div class="col-sm-3 col-4 mt-2  form-check">
                            <input type="checkbox" id="inputispending" class="form-control form-check-input" #handlebookingpending name="handlebookingpendingpay" [(ngModel)] = "handle.booking.pendingPay" disabled>
                        </div>
                    </div>
                </div>

                <!-- CUSTOMER EMAIL  -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-12 col-sm-3">
                        <label for="inputcustomeremail" class="col-form-label fw-bold">Customer:  </label>
                    </div>
                    <div class="col-10">
                        <label for="inputcustomerename" class="col-form-label fs-6">Customer name:  </label>
                        <input type="text" id="inputcustomername" class="form-control" #bookingcustomename name="bookingcustomername" [(ngModel)] = "handle.booking.customers.name" disabled>
                        <label for="inputcustomeremail" class="col-form-label">Customer email:  </label>
                        <input type="text" id="inputcustomermail" class="form-control" #bookingcustomermail name="bookingcustomermail" [(ngModel)] = "handle.booking.customers.email" disabled>
                    </div>
                </div>

                <!-- NUM PEOPLE IN BOOKING  -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-3 col-sm-3">
                        <label for="inputpeoplenumber" class="col-form-label">People number: </label>
                    </div>
                    <div class="col-6">
                        <input type="number" id="inputpeoplenumber" class="form-control" #bookingpeoplenumber name="bookingnumpeople" [(ngModel)] = "handle.booking.numPeople" disabled>
                    </div>
                </div>

                <!--     BUTTOM to Delete a handle -->
                <div class="row mb-1 align-items-center">
                    <div class="col-9 col-sm-12">
                        <button type="button" class="btn btn-secondary btn-lg button_1" (click)="deleteHandle()">Delete Handle</button>
                    </div>
                </div>
            </div>
        </div>
    </form>