
/* Bootstrap custom */
.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
}


input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.font-nav{
    font-size: 9px;
    text-decoration:none;
    outline: none;
    color: inherit;
    
}

.navbar_1{
border-top-left-radius: 7px;
border-top-right-radius: 7px;
}

.navbar_2{

    box-shadow: 10px 10px 30px gray ;
}