.navbar-custom {
    height: 100%;
  }

/* Bootstrap custom */
.container-fluid{
    padding-left: 0rem;
    padding-right: 0rem;
}


input.form-control {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.font-nav{
    font-size: 10px;
    font-family: "Space Mono", monospace;
    text-decoration:none;
    outline: none;
    color: bg-success;
    
}

.navbar p,span{
    font-family: 'space Mono';
}

.navbar_1{
border-top-left-radius: 7px;
border-top-right-radius: 7px;
}

/* .navbar_2{

    box-shadow: 10px 10px 30px gray ;
} 

/* Logo */
.navbar-brand{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 0px;
    
}

/* Logo */
.nav-link{
    padding-right: 0px;
    padding-left: 0px;
    padding-bottom: 0px;
    padding-top: 0px;
    margin-top: 0px;
    margin-right: 0px;
    
}

/* Toggler */
.navbar-toggler{
    border:0px;
}

.navbar-nav{
    
    margin-top: 0px;
    margin-right: 0px;
}

p, span{
    font-size: smaller;
    font-weight: 600px;
}

nav-link{
    height: 25px !important;
}

.dropdown-menu a:hover{
    background-color: #B8A464 !important;
    color: #b8186a;
    text-decoration-line: none !important;
}