<div class="position-relative ">
    <div
      class="d-flex flex-column bg-light align-items-center  float-left " 
      style="width: 15rem" 
    >
    <nav class="sidenav" data-mdb-hidden="false">
      <a
        href="/"
        class="d-block p-3 link-dark text-decoration-none float-left"
        title=""
        data-bs-toggle="collapse"
        data-bs-placement="left"
      >
      </a>
      <ul
        class="nav nav-pills flex-column dropdown_menu"
        aria-labelledby="navbarDropdown"
        data-bs-target="left"
      >
      <div class="flex float-left" >
        <button data-mdb-toggle="sidenav" data-mdb-target="#sidenav-1" 
        aria-controls="#sidenav-1" aria-haspopup="true">      <i class="bi bi-x-lg" ></i>
        </button>
      </div>
        <li class="sidenav-item ">
          <a
            href="#"
            class="nav-link py-3 border-bottom"
            aria-current="page"
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="left"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-house" viewBox="0 0 16 16">
            <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293L8.707 1.5ZM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5 5 5Z"/>
          </svg><span class="text-dark">hotels</span>
          </a>
        </li>
        <li class="sidenav-item ">
          <a
            href="#"
            class="nav-link py-3 border-bottom"
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="left"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="dark" class="bi bi-airplane-engines" viewBox="0 0 16 16">
            <path d="M8 0c-.787 0-1.292.592-1.572 1.151A4.347 4.347 0 0 0 6 3v3.691l-2 1V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.191l-1.17.585A1.5 1.5 0 0 0 0 10.618V12a.5.5 0 0 0 .582.493l1.631-.272.313.937a.5.5 0 0 0 .948 0l.405-1.214 2.21-.369.375 2.253-1.318 1.318A.5.5 0 0 0 5.5 16h5a.5.5 0 0 0 .354-.854l-1.318-1.318.375-2.253 2.21.369.405 1.214a.5.5 0 0 0 .948 0l.313-.937 1.63.272A.5.5 0 0 0 16 12v-1.382a1.5 1.5 0 0 0-.83-1.342L14 8.691V7.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v.191l-2-1V3c0-.568-.14-1.271-.428-1.849C9.292.591 8.787 0 8 0ZM7 3c0-.432.11-.979.322-1.401C7.542 1.159 7.787 1 8 1c.213 0 .458.158.678.599C8.889 2.02 9 2.569 9 3v4a.5.5 0 0 0 .276.447l5.448 2.724a.5.5 0 0 1 .276.447v.792l-5.418-.903a.5.5 0 0 0-.575.41l-.5 3a.5.5 0 0 0 .14.437l.646.646H6.707l.647-.646a.5.5 0 0 0 .14-.436l-.5-3a.5.5 0 0 0-.576-.411L1 11.41v-.792a.5.5 0 0 1 .276-.447l5.448-2.724A.5.5 0 0 0 7 7V3Z"/>
          </svg>           <span class="text-dark">bookings</span></a>
        </li>
        <li class="sidenav-item ">
          <a
            href="#"
            class="nav-link py-3 border-bottom"
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="right"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="dark" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z"/>
          </svg><span class="text-dark">customers</span>
          </a>
        </li>
        <li class="sidenav-item ">
          <a
            href="#"
            class="nav-link py-3 border-bottom"
            title=""
            data-bs-placement="right"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-flag-fill" viewBox="0 0 16 16">
            <path d="M14.778.085A.5.5 0 0 1 15 .5V8a.5.5 0 0 1-.314.464L14.5 8l.186.464-.003.001-.006.003-.023.009a12.435 12.435 0 0 1-.397.15c-.264.095-.631.223-1.047.35-.816.252-1.879.523-2.71.523-.847 0-1.548-.28-2.158-.525l-.028-.01C7.68 8.71 7.14 8.5 6.5 8.5c-.7 0-1.638.23-2.437.477A19.626 19.626 0 0 0 3 9.342V15.5a.5.5 0 0 1-1 0V.5a.5.5 0 0 1 1 0v.282c.226-.079.496-.17.79-.26C4.606.272 5.67 0 6.5 0c.84 0 1.524.277 2.121.519l.043.018C9.286.788 9.828 1 10.5 1c.7 0 1.638-.23 2.437-.477a19.587 19.587 0 0 0 1.349-.476l.019-.007.004-.002h.001"/>
          </svg><span class="text-dark">countries</span>
          </a>
        </li>
        <li class="sidenav-item ">
          <a
            href="#"
            class="nav-link py-3 border-bottom"
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="right"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-door-open-fill" viewBox="0 0 16 16">
            <path d="M1.5 15a.5.5 0 0 0 0 1h13a.5.5 0 0 0 0-1H13V2.5A1.5 1.5 0 0 0 11.5 1H11V.5a.5.5 0 0 0-.57-.495l-7 1A.5.5 0 0 0 3 1.5V15H1.5zM11 2h.5a.5.5 0 0 1 .5.5V15h-1V2zm-2.5 8c-.276 0-.5-.448-.5-1s.224-1 .5-1 .5.448.5 1-.224 1-.5 1z"/>
          </svg><span class="text-dark">rooms</span>
          </a>
        </li>
        <li class="sidenav-item ">
          <a
            href="#"
            class="nav-link py-3 ml-3 border-bottom"
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="right"
          >
          <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="black" class="bi bi-buildings" viewBox="0 0 16 16">
            <path d="M14.763.075A.5.5 0 0 1 15 .5v15a.5.5 0 0 1-.5.5h-3a.5.5 0 0 1-.5-.5V14h-1v1.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V10a.5.5 0 0 1 .342-.474L6 7.64V4.5a.5.5 0 0 1 .276-.447l8-4a.5.5 0 0 1 .487.022ZM6 8.694 1 10.36V15h5V8.694ZM7 15h2v-1.5a.5.5 0 0 1 .5-.5h2a.5.5 0 0 1 .5.5V15h2V1.309l-7 3.5V15Z"/>
            <path d="M2 11h1v1H2v-1Zm2 0h1v1H4v-1Zm-2 2h1v1H2v-1Zm2 0h1v1H4v-1Zm4-4h1v1H8V9Zm2 0h1v1h-1V9Zm-2 2h1v1H8v-1Zm2 0h1v1h-1v-1Zm2-2h1v1h-1V9Zm0 2h1v1h-1v-1ZM8 7h1v1H8V7Zm2 0h1v1h-1V7Zm2 0h1v1h-1V7ZM8 5h1v1H8V5Zm2 0h1v1h-1V5Zm2 0h1v1h-1V5Zm0-2h1v1h-1V3Z"/>
          </svg><span class="text-dark">cities</span>
          </a>         

        </li>
        <li class="sidenav-item ">
          <a
            href="#"
            class="nav-link py-3 "
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="right"
          >
          </a>
        </li>
      
        <li class="sidenav-item ">
          <a
            href="#"
            class="nav-link py-3 "
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="right"
          >
          </a>
        </li>
        <li class="sidenav-item ">
          <a
            href="#"
            class="nav-link py-3"
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="right"
          >
          </a>
        </li>
        <li class="sidenav-item ">
          <a
            href="#"
            class="nav-link py-3 "
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="right"
          >
          </a>
        </li> <li class="sidenav-item ">
          <a
            href="#"
            class="nav-link py-3 "
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="right"
          >
          </a>
        </li> <li class="nav-item dropdown-item float-left">
          <a
            href="#"
            class="nav-link py-3"
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="right"
          >
          </a>
        </li> <li class="nav-item dropdown-item float-left">
          <a
            href="#"
            class="nav-link py-3 "
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="right"
          >
          </a>
        </li> <li class="nav-item dropdown-item float-left">
          <a
            href="#"
            class="nav-link py-3 "
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="right"
          >
          </a>
        </li> <li class="nav-item dropdown-item float-left">
          <a
            href="#"
            class="nav-link py-3 "
            title=""
            data-bs-toggle="collapse"
            data-bs-placement="right"
          >
          </a>
        </li>
      </ul>
      <div class="border-top">
        <a
          href="#"
          class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none"
          aria-expanded="false"
        >
          <button
            class="btn"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapseWidthExample"
            aria-expanded="false"
            aria-controls="collapseWidthExample"
          >
            <i class="bi bi-list"></i>
          </button>
        </a>
      </div>
    </nav>
    </div>
  </div>
  