<div class="col">
	<div class="bubble text-center mb-2">
		<nav class="nav">
			<a class="nav-link" aria-current="page" href="/bookings/bookings/bookingsview">Bookings</a>
			<a class="nav-link" href="/bookings/bookings/countriesview">Countries</a>
			<a class="nav-link" href="/bookings/bookings/citiesview">Cities</a>
			<a class="nav-link" href="/bookings/bookings/hotelsview">Hotels</a>
			<a class="nav-link" href="/bookings/bookings/roomsview">Rooms</a>
		</nav>
	</div>
	<div class="bubble shadow">
		<router-outlet></router-outlet>
	</div>
</div>
