<!------------- Form: Edit  a city or country------------------>

<!-----------------------------------------------------------------
            CITY EXAMPLE:
            "latitude": 37.7749,
            "longitude": -122.4194,
            "name": "Albania",
            "country": {
            "id": 1
            }
------------------------------------------------------------------->

<div class="d-flex flex-column m-3 col col-12 justify-content-center align-items-right">
    <!--       Edit a  city or country -->
    <form class="d-flex flex-column m-3 row justify-content-center align-items-center ">
        <h3 class="mb-1">Edit a city or country</h3>
        <div class="row mt-1">
            <!-- Edit a City -->
            <div class="col col-5 g-1 mb-3">

                <h4 class="mt-2 ps-3 g-0 text-light bg-dark col-12 rounded">Edit a City</h4>

                <!-- Select a CITY NAME  -->
                <div class="row g-1 mb-1 align-items-center">
                    <div class="col-4 col-sm-3">
                        <label for="inputCityNumber" class="col-form-label">City Name:</label>
                    </div>
                    <div class="col-8">
                        <select class="form-select form-select-sm" id="inputcityNumber"
                            aria-label="form-select-sm example" #cityNumber [(ngModel)]="citiesobj" name="citiesname">
                            <option [ngValue]="city" *ngFor="let city of citieslist">{{city.name}}</option>
                        </select>
                    </div>
                </div>

                <!-- LATITUDE -->
                <div class="row g-1 mb-1 align-items-center">
                    <div class="col-3 col-sm-5">
                        <label for="inputLatitude" class="col-form-label">Latitude: </label>
                    </div>
                    <div class="col-6">
                        <input type="number" id="inputLatitude" class="form-control" #ccLatitude  [(ngModel)]="citiesobj.latitude" value="{{citiesobj.latitude}}">
                    </div>
                </div>

                <!-- LONGITUDE -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-3 col-sm-5">
                        <label for="inputLongitude" class="col-form-label">Longitude: </label>
                    </div>
                    <div class="col-6">
                        <input type="number" id="inputLongitude" class="form-control" #ccLongitude  [(ngModel)]="citiesobj.longitude" value="{{citiesobj.longitude}}">
                    </div>
                </div>


                <!-- NAME OF THE CITY  -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-6 col-sm-5">
                        <label for="inputCityName" class="col-form-label">City Name: </label>
                    </div>
                    <div class="col-6">
                        <input type="text" id="inputCityName" class="form-control" #ccName  [(ngModel)]="citiesobj.name" value="{{citiesobj.name}}"> 
                    </div>
                </div>
                <!-- COUNTRY NAME  -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-6 col-sm-5">
                        <label for="selectCountry" class="col-form-label">Country</label>
                    </div>
                    <div class="col-10">

                        <select
              class="m-3 form-select form-select-sm"
              aria-label=".form-select-sm example"
              #customercontry
              [(ngModel)]="citiesobj.country" 
             name="countryname">
            <option [ngValue]="countryobj" *ngFor="let contry of countrylist">
                {{ contry.countryName }}
              </option>
            </select>
            

           
                    </div>
                </div>

                <!--     BUTTON to update a City -->
                <div class="row g-2 mb-1 align-items-center">
                    <div class="col-auto col-sm-12">
                        <button type="button" class="btn btn-secondary btn-lg button_1" (click)="updateCity(this.citiesobj,citiesobj.id)">Update City</button>
                    </div>
                </div>

            </div>

            <div class="col col-1 g-1 mt-3 mb-3"></div>

<!-- ------------------------------------------------------------------------
        COUNTRY EXAMPLE
        {
            "countryCode": "BT",
            "countryName": "Bhutan",
            "latitude": 49,
            "longitude": 32,
            "situation": "War"
          } 
---------------------------------------------------------------------------->

            <!-- Edit a Country -->
            <div class="col col-6 g-1 mb-3">

                <h4 class="mt-2 ps-3 g-0 text-light bg-dark col-12 rounded">Edit a Country</h4>


                <!-- Select a country  name  -->
                <div class="row g-1 mb-1 align-items-center">
                    <div class="col-3 col-sm-3">
                        <label for="inputCountryName" class="col-form-label">Country Name:</label>
                    </div>
                    <div class="col-6">
                        <select class="form-select form-select-sm" id="inputCountryName"
                            aria-label="form-select-sm example" #countryName [(ngModel)]="countryobj">
                            <option [ngValue]="contry" *ngFor="let contry of countrylist">
                                {{ contry.countryName }}
                              </option>
                        </select>

                       
                    </div>
                </div>


                <!-- NAME OF THE COUNTRY  -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-6 col-sm-5">
                        <label for="inputCountryName" class="col-form-label">Country Name: </label>
                    </div>
                    <div class="col-6">
                        <input type="text" id="inputinputCountryName" class="form-control" #countryName  [(ngModel)]="countryobj.countryName" value="{{countryobj.countryName}}">{{countryobj.countryName}}
                    </div>
                </div>

                <!-- CODE OF THE COUNTRY  -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-6 col-sm-5">
                        <label for="inputCountryCode" class="col-form-label">Country Code: </label>
                    </div>
                    <div class="col-6">
                        <input type="text" id="inputinputCountryCode" class="form-control" #countryCode  [(ngModel)]="countryobj.countryCode" value="{{countryobj.countryCode}}">{{countryobj.countryCode}}
                    </div>
                </div>

                <!-- SITUATION OF THE COUNTRY  -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-6 col-sm-6">
                        <label for="inputSituation" class="col-form-label">Country Situation:</label>
                    </div>
                    <div class="col-10">
                        <select class="form-select form-select-sm" id="inputSituation"
                            aria-label=".form-select-sm example" #countrySituation >
                            <option >Select situation of the country: </option>
                            <option value="cities.situation">Human Crisis</option>
                            <option value="cities.situation">War</option>
                            <option value="cities.situation">Clima crisis</option>
                            <option value="cities.situation">Peace</option>
                        </select>
                    </div>
                </div>

                <!-- LATITUDE -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-3 col-sm-5">
                        <label for="inputcoLatitude" class="col-form-label">Latitude: </label>
                    </div>
                    <div class="col-6">
                        <input type="number" id="inputcoLatitude" class="form-control" #cccoLatitude  [(ngModel)]="countryobj.latitude" value="{{countryobj.latitude}}">{{countryobj.latitude}}
                    </div>
                </div>

                <!-- LONGITUDE -->
                <div class="row g-3 mb-1 align-items-center">
                    <div class="col-3 col-sm-5">
                        <label for="inputLongitude" class="col-form-label">Longitude: </label>
                    </div>
                    <div class="col-6">
                        <input type="number" id="inputcoLongitude" class="form-control" #cccoLongitude  [(ngModel)]="countryobj.longitude" value="{{countryobj.longitude}}">{{countryobj.longitude}}
                    </div>
                </div>


                <!--     BUTTOM to update a Country -->
                <div class="row g-3 mb-3 align-items-center">
                    <div class="col-9 col-sm-2">
                        <button type="button" class="btn btn-secondary btn-lg button_1" (click)="updateCountry(this.countryobj,this.countryobj.id)">Update Country</button>
                    </div>
                </div>
            </div>

        </div>
    </form>