<!------------- Form: Edit Booking/Handle------------------>
<div
  class="d-flex flex-column m-3 col col-12 justify-content-center align-items-right"
>
  <!--       Edit a handle/booking -->
  <h3 class="mb-1">Edit a Room/Hotel</h3>

  <form
    class="d-flex flex-column m-3 row col-12 justify-content-center align-items-center"
  >
    <h6 class="mt-1 g-0 text-light bg-dark col-6 rounded">Edit a Hotel</h6>
    <!-- AMOUNT PRICE  -->
    <div class="row g-3 mb-1 align-items-center">
      <div class="col-6 col-sm-6">
        <label for="inputAmount" class="col-form-label">name: </label>
      </div>
      <div class="col-6">
        <input
          type="text"
          id="inputAmount"
          class="form-control"
          #bookingAmount
        />
      </div>
    </div>
    <!-- NUM PEOPLE IN HOTEL  -->
    <div class="row g-3 mb-1 align-items-center">
      <div class="col-6 col-sm-6">
        <label for="inputpeoplenumber" class="col-form-label"
          >Phonenumber:
        </label>
      </div>
      <div class="col-6">
        <input
          type="number"
          id="inputpeoplenumber"
          class="form-control"
          #bookingpeoplenumber
        />
      </div>
    </div>
    <div class="row g-3 mb-1 align-items-center">
      <div class="col-6 col-sm-6">
        <label for="inputpeoplenumber" class="col-form-label">latitude: </label>
      </div>
      <div class="col-6">
        <input
          type="number"
          id="inputpeoplenumber"
          class="form-control"
          #bookingpeoplenumber
        />
      </div>
    </div>
    <div class="row g-3 mb-1 align-items-center">
      <div class="col-6 col-sm-6">
        <label for="inputpeoplenumber" class="col-form-label"
          >longitude:
        </label>
      </div>
      <div class="col-6">
        <input
          type="number"
          id="inputpeoplenumber"
          class="form-control"
          #bookingpeoplenumber
        />
      </div>
    </div>
    <div class="row g-3 mb-1 align-items-center">
      <div class="col-6 col-sm-6">
        <label for="inputpeoplenumber" class="col-form-label">address: </label>
      </div>
      <div class="col-6">
        <input
          type="text"
          id="inputpeoplenumber"
          class="form-control"
          #bookingpeoplenumber
        />
      </div>
    </div>
    <div class="row g-3 mb-1 align-items-center">
      <div class="col-6 col-sm-6">
        <label for="inputpeoplenumber" class="col-form-label">email: </label>
      </div>
      <div class="col-6">
        <input
          type="text"
          id="inputpeoplenumber"
          class="form-control"
          #bookingpeoplenumber
        />
      </div>
    </div>
    <!-- CUSTOMER EMAIL  -->
    <div class="row g-3 mb-1 me-0 align-items-center">
      <div class="col-6 col-sm-6">
        <label for="selectCustomer" class="col-form-label"
          >Security Level:</label
        >
      </div>
      <div class="col-6">
        <select
          class="form-select form-select-sm"
          aria-label=".form-select-sm example"
          #customeremail
        >
          <option selected>Select a security level</option>
          <option value="1">Diplomatic coverage and private security</option>
          <option value="2">Private security</option>
          <option value="3">Diplomatic coverage</option>
        </select>
      </div>

      <!-- IS PAYED  -->
      <div class="row g-3 mb-1">
        <div class="col-6 col-sm-6">
          <label for="inputispayed" class="col-form-label"
            >Energy suficiency?
          </label>
        </div>
        <div class="col-6">
          <input
            type="checkbox"
            id="inputispayed"
            class="form-control checkbox-input float-right"
            #bookingpayed
          />
        </div>
      </div>

      <!--     BUTTON to update a handle -->
      <div class="row g-2 mb-1 align-items-center">
        <div class="col-auto col-sm-2">
          <button type="button" class="btn btn-secondary btn-lg button_1">
            Update
          </button>
        </div>
      </div>
    </div>

    <!-- Edit a Booking -->
    <div class="col col-10 g-3 mb-3">
      <h6 class="mt-1 g-0 text-light bg-dark col-6 rounded">Edit a Room</h6>

      <!-- Create a Handle -->
      <div class="col col-6 g-1 mb-3">
        <!-- ARRIVAL DATE  -->
        <div class="row g-6 mb-1 align-items-center">
          <div class="col-6 col-sm-6">
            <label for="inputarrival" class="col-form-label"
              >Num people:
            </label>
          </div>
          <div class="col-6">
            <input
              type="number"
              id="inputarrival"
              class="form-control"
              #arrivalDate
            />
          </div>
        </div>
        <!-- DEPARTURE DATE  -->
        <div class="row g-3 mb-1 align-items-center">
          <div class="col-6 col-sm-6">
            <label for="inputdeparture" class="col-form-label"
              >price per night:
            </label>
          </div>
          <div class="col-6">
            <input
              type="number"
              id="inputdeparture"
              class="form-control"
              #departureDate
            />
          </div>
        </div>
        <!-- BOOKING NUMBER  -->
        <div class="row g-3 mb-1 align-items-center">
          <div class="col-6 col-sm-6">
            <label for="inputBookingNumber" class="col-form-label"
              >Internet type:</label
            >
          </div>
          <div class="col-6">
            <select
              class="form-select form-select-sm"
              id="inputBookingNumber"
              aria-label="form-select-sm example"
              #bookingNumber
            >
              <option selected>Select internet type</option>
              <option value="1">Fiber</option>
              <option value="2">Cable</option>
              <option value="3">Satellite</option>
            </select>
          </div>
        </div>
        <!-- ROOM DATE  -->
        <!-- IS PAYED  -->
        <div class="row g-3 mb-1">
          <div class="col-6 col-sm-6">
            <label for="inputispayed" class="col-form-label">is smoker? </label>
          </div>
          <div class="col-6">
            <input
              type="checkbox"
              id="inputispayed"
              class="form-control checkbox-input float-right"
              #bookingpayed
            />
          </div>
        </div>
        <!-- IS PAYED  -->
        <div class="row g-3 mb-1">
          <div class="col-6 col-sm-6">
            <label for="inputispayed" class="col-form-label"
              >Has terrace?
            </label>
          </div>
          <div class="col-6">
            <input
              type="checkbox"
              id="inputispayed"
              class="form-control checkbox-input float-right"
              #bookingpayed
            />
          </div>
        </div>

        <!--     BUTTOM to update a handle -->
        <div class="row g-3 mb-3 align-items-center">
          <div class="col-9 col-sm-2">
            <button type="button" class="btn btn-secondary btn-lg button_1">
              Update
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</div>
