<!------------- Form: Edit Hotel------------------>
<div class="d-flex flex-column mt-3 col col-12 justify-content-center align-items-right">
	<!--       Edit a handle/booking -->
	<form class="d-flex flex-column m-3 row justify-content-center align-items-center ">
		<h3 class="mb-1">Edit a Room/Hotel</h3>
		<div class="row">
			<!-- Create a Hotel -->
			<div class="col col-5 mt-1 mb-3">

				<h4 class="mt-3 ps-3 g-0 text-light bg-dark col-12 rounded">Edit a Hotel</h4>

				<!-- HOTEL  -->
				<div class="row g-3 mb-1 align-items-center">
					<div class="col-sm-12">
						<label for="inputHotelIdMaster" class="col-form-label">Hotel:</label>
						<select class="form-select form-select-sm" id="inputUpdateHotelMaster" aria-label="form-select-sm example"
							name="inputUpdateHotelMaster" [(ngModel)]="currentHotel" #inputHotelId>
							<option *ngFor="let hotel of hotelList" [ngValue]="hotel">{{hotel.name}}</option>
						</select>
					</div>
				</div>

				<!-- HOTEL NAME -->
				<div class="row g-3 mb-1 align-items-center">
					<div class="col-6 col-sm-6">
						<label for="inputhotelname" class="col-form-label">Name: </label>
					</div>
					<div class="col-6">
						<input type="text" id="inputhotelname" class="form-control" #inputhotelname name="inputhotelname"
							[(ngModel)]="currentHotel.name" />
					</div>
				</div>
				<!-- NUM PEOPLE IN HOTEL  -->
				<div class="row g-3 mb-1 align-items-center">
					<div class="col-6 col-sm-6">
						<label for="inputphonenumber" class="col-form-label">Phonenumber:
						</label>
					</div>
					<div class="col-6">
						<input type="text" id="inputphonenumber" class="form-control" #inputphonenumber name="inputphonenumber"
							[(ngModel)]="currentHotel.phonenumber" />
					</div>
				</div>
				
			
				<!-- ADDRESS  -->
				<div class="row g-3 mb-1 align-items-center">
					<div class="col-6 col-sm-6">
						<label for="inputhoteladdress" class="col-form-label">Address: </label>
					</div>
					<div class="col-6">
						<input type="text" id="inputhoteladdress" class="form-control" #inputhoteladdress name="inputhoteladdress"
							[(ngModel)]="currentHotel.address" />
					</div>
				</div>
				<!-- EMAIL  -->
				<div class="row g-3 mb-1 align-items-center">
					<div class="col-6 col-sm-6">
						<label for="inputhotelemail" class="col-form-label">Email: </label>
					</div>
					<div class="col-6">
						<input type="text" id="inputhotelemail" class="form-control" #inputhotelemail name="inputhotelemail"
							[(ngModel)]="currentHotel.email" />
					</div>
				</div>
				<!-- SECURITY LEVEL  -->
				<div class="row g-3 mb-1 align-items-center">
					<div class="col-6 col-sm-6">
						<label for="inputhotelsecurity" class="col-form-label">Security Level:</label>
					</div>
					<div class="col-12">
						<input class="form-select form-select-sm" aria-label="form-select-sm example" name="seclevel"
						#inputhotelsecurity
							name="inputhotelsecurity" [(ngModel)]="currentHotel.securityLevel">
					</div>
				</div>
				<!-- EnergySuficient  -->
				<div class="row g-3 mb-1 align-items-center">
					<div class="col-6 col-sm-6">
						<label for="inputhotelenergysuficient" class="col-form-label">Energy suficiency?
						</label>
					</div>
					<div class="col-6 form-check">
						<input type="checkbox" id="inputhotelenergysuficient" name="inputhotelenergysuficient"
							class="form-control form-check-input " #inputhotelenergysuficient
							[(ngModel)]="currentHotel.energySuficient" />
					</div>
				</div>

				<!-- CITY  -->
				<div class="row g-3 mb-1 align-items-center">
					<div class="col-sm-12">
						<label for="inputHotelId" class="col-form-label">city:</label>
						<select class="form-select form-select-sm" id="inputHotelId" aria-label="form-select-sm example"
							name="inputHotelId" [(ngModel)]="currentCityForHotelUpdate" #inputHotelId>
							<option *ngFor="let ccity of cityList" [ngValue]="ccity" [selected]="ccity.id === currentHotel.city.id">
								{{ccity.name}}</option>
						</select>
					</div>
				</div>


				<!--     BUTTON to update a hotel -->
				<div class="row g-3 mb-1 align-items-center">
					<div class="col-auto col-sm-12">
						<button type="button" class="btn btn-secondary btn-lg button_1" (click)="updateExistingHotel()">Update Hotel</button>
					</div>
				</div>
			</div>
			<div class="col col-1 g-1 "></div>

			<!-- EDIT A ROOM -->
			<div class="col col-6 mt-1 mb-3">
				<h4 class="mt-3 ps-3 text-light bg-dark col-12 rounded">Edit a Room</h4>
				<div class="row mb-1 align-items-center">
					<div class="col-sm-4">
						<label for="inputroomcode" class="col-form-label">Select a room: </label>
					</div>
					<div class=" col-sm-8">
						<select class="form-select form-select-sm" id="inputroomcode" Aria-Label="form-select-sm example"
							#inputroomcode name="inputroomcode" [(ngModel)]="currentRoom">
							<option *ngFor="let room of roomsList" [ngValue]="room">{{room.code}}</option>
						</select>
					</div>
				</div>

				<!-- HOTEL  -->
				<div class="row g-3 mb-1 align-items-center">
					<div class="col-sm-12">
						<label for="inputHotelId" class="col-form-label">Hotel:</label>
						<select class="form-select form-select-sm" id="inputHotelId" aria-label="form-select-sm example"
							name="inputHotelId" [(ngModel)]="currentHotelForRoom" #inputHotelId>
							<option *ngFor="let hotel of hotelList" [ngValue]="hotel" [selected]="hotel.id===currentRoom.id">
								{{hotel.name}}</option>
						</select>
					</div>
				</div>

				<!-- NUM PEOPLE  -->
				<div class="row g-6 mb-1 align-items-center">
					<div class="col-6 col-sm-6">
						<label for="inputRoomNumPeople" class="col-form-label">Num people: </label>
					</div>
					<div class="col-6">
						<input type="number" id="inputRoomNumPeople" class="form-control" #inputRoomNumPeople name="NumPeopleRoom"
							[(ngModel)]="currentRoom.numPeople">
					</div>
				</div>

				<!-- CODE  -->
				<div class="row g-6 mb-1 align-items-center">
					<div class="col-6 col-sm-6">
						<label for="inputRoomCode" class="col-form-label">Code: </label>
					</div>
					<div class="col-6">
						<input type="text" id="inputRoomCode" class="form-control" #inputRoomCode name="codeInput"
							[(ngModel)]="currentRoom.code">
					</div>
				</div>

				<!-- PRICE PER NIGHT  -->
				<div class="row g-3 mb-1 align-items-center">
					<div class="col-6 col-sm-6">
						<label for="inputPricePerNight" class="col-form-label">Price per night: </label>
					</div>
					<div class="col-6">
						<input type="number" id="inputPricePerNight" class="form-control" #pricePerNight name="inputPricePerNight"
							[(ngModel)]="currentRoom.pricePerNight">
					</div>
				</div>
				<!-- INTERNET TYPE  -->
				<div class="row g-3 mb-1 align-items-center">
					<div class="col-6 col-sm-6">
						<label for="inputInternetType" class="col-form-label">Internet type:</label>
					</div>
					<div class="col-6">
						<select class="form-select form-select-sm" id="inputInternetType" aria-label="form-select-sm example"
							name="inputInternetType" [(ngModel)]="currentRoom.internetType" #inputInternetType>
							<option value="Fiber">Fiber</option>
							<option value="Cable">Cable</option>
							<option value="Satellite">Satellite</option>
						</select>
					</div>
				</div>
				<!-- IS SMOKER  -->
				<div class="row g-3 mb-1">
					<div class="col-sm-6">
						<label for="inputIsSmoker" class="col-form-label">Is smoker? </label>
					</div>
					<div class="col-sm-6 form-check">
						<input type="checkbox" id="inputIsSmoker" class="form-control form-check-input" #inputIsSmoker
							name="inputIsSmoker" [(ngModel)]="currentRoom.smoker">
					</div>
				</div>
				<!-- HAS TERRACE -->
				<div class="row g-3 mb-1">
					<div class="col-sm-6">
						<label for="inputHasTerrace" class="col-form-label">Has terrace? </label>
					</div>
					<div class="col-sm-6 form-check">
						<input type="checkbox" id="inputHasTerrace" class="form-control form-check-input" #inputHasTerrace
							name="inputHasTerrace" [(ngModel)]="currentRoom.hasTerrace">
					</div>
				</div>

				<!--     BUTTOM to update a Room -->
				<div class="row g-3 mb-3 align-items-center">
					<div class="col-9 col-sm-12">
						<button type="button" class="btn btn-secondary btn-lg button_1" (click)="updateExistingRoom()">
							Update Room
						</button>
					</div>
				</div>
			</div>
		</div>
	</form>
</div>
