<div class="position-relative ">
  <div
    class="d-flex flex-column bg-light align-items-center collapse collapse-horizontal float-left "
    style="width: 4.5rem"
  >
    <a
      href="/"
      class="d-block p-3 link-dark text-decoration-none"
      title=""
      data-bs-toggle="collapse"
      data-bs-placement="left"
    >
      <i class="bi bi-kanban"></i>
    </a>
    <ul
      class="nav nav-pills flex-column dropdown_menu"
      aria-labelledby="navbarDropdown"
      data-bs-target="left"
    >
      <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 border-bottom"
          aria-current="page"
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="left"
        >
          <i class="bi bi-house" title="Hotels"></i>
        </a>
      </li>
      <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 border-bottom"
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="left"
        >
          <i class="bi bi-airplane-engines" title="Bookings"></i
        ></a>
      </li>
      <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 border-bottom"
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
          <i class="bi bi-people" title="Customers"></i>
        </a>
      </li>
      <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 border-bottom"
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
          <i class="bi bi-flag" title="Countries"></i>
        </a>
      </li>
      <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 border-bottom"
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
          <i class="bi bi-door-closed" title="Rooms"></i>
        </a>
      </li>
      <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 border-bottom"
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
          <i class="bi bi-buildings" title="Cities"></i>
        </a>
      </li>
      <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 "
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
        </a>
      </li>
      <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 "
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
        </a>
      </li>
      <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 "
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
        </a>
      </li>
      <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
        </a>
      </li>
      <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 "
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
        </a>
      </li> <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 "
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
        </a>
      </li> <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3"
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
        </a>
      </li> <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 "
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
        </a>
      </li> <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 "
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
        </a>
      </li> <li class="nav-item dropdown-item float-left">
        <a
          href="#"
          class="nav-link py-3 "
          title=""
          data-bs-toggle="collapse"
          data-bs-placement="right"
        >
        </a>
      </li>
    </ul>
    <div class="border-top">
      <a
        href="#"
        class="d-flex align-items-center justify-content-center p-3 link-dark text-decoration-none"
        aria-expanded="false"
      >
        <button
          class="btn"
          type="button"
          data-bs-toggle="collapse"
          data-bs-target="#collapseWidthExample"
          aria-expanded="false"
          aria-controls="collapseWidthExample"
        >
          <i class="bi bi-list"></i>
        </button>
      </a>
    </div>
  </div>
</div>
