<div class="d-flex justify-content-center mt-5">
<div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Alejandro Jiménez Álvarez</h5>
      <p class="card-text">Junior Full Stack Web Developer</p>
      <a href="https://www.linkedin.com/in/alejandro-jimenez-alvarez/" class="btn btn-primary">Linkedin</a>
      <a href="https://github.com/aljimez" class="btn btn-dark">GitHub</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Elena Isabel Lopez</h5>
      <p class="card-text">FullStack Web Developer <br> FullStack Movile developer <br> Administration of networked computer systems.</p>
      <a href="https://www.linkedin.com/in/elenailopez/" class="btn btn-primary">Linkedin</a>
      <a href="https://github.com/eilmadc" class="btn btn-dark">GitHub</a>
    </div>
  </div>
  <div class="card" style="width: 18rem;">
    <img src="..." class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Francisco Javier Parra</h5>
      <p class="card-text">Industrial engineer.</p>
      <a href="https://www.linkedin.com/in/francisco-javier-parra/" class="btn btn-primary">Linkedin</a>
      <a href="https://github.com/anengineer1" class="btn btn-dark">GitHub</a>
    </div>
  </div>
</div>