<div class="d-flex justify-content-center mt-5">
<div class="card m-5" style="width: 18rem;">
    <img src="../../../../assets/images/1683296379912.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Alejandro Jiménez Álvarez</h5>
      <p class="card-text">Junior Full Stack Web Developer</p>
      <a href="https://www.linkedin.com/in/alejandro-jimenez-alvarez/" class="btn btn-primary">Linkedin</a>
      <a href="https://github.com/aljimez" class="btn btn-dark">GitHub</a>
    </div>
  </div>
  <div class="card m-5" style="width: 18rem;">
    <img src="../../../../assets/images/IMG202104040108294.jpg" class="card-img-top" alt="...">
    <div class="card-body">
      <h5 class="card-title">Elena Isabel Lopez</h5>
      <p class="card-text">FullStack Developer <br> Administration of networked computer systems</p>
      <a href="https://www.linkedin.com/in/elenailopez/" class="btn btn-primary">Linkedin</a>
      <a href="https://github.com/eilmadc" class="btn btn-dark">GitHub</a>
    </div>
  </div>
  <div class="card m-5" style="width: 18rem;">
      <img src="../../../../assets/images/1620164625087.png" class="card-img-top"alt="Francisco Javier Parra" srcset="">
    <div class="card-body">
      <h5 class="card-title">Francisco Javier Parra</h5>
      <p class="card-text">Industrial engineer<br>FullStack Developer</p>
      <a href="https://www.linkedin.com/in/francisco-javier-parra/" class="btn btn-primary">Linkedin</a>
      <a href="https://github.com/anengineer1" class="btn btn-dark">GitHub</a>
    </div>
  </div>
</div>