<body class="bg-light ">
    <div class="justify-content-center vertical-center mb-3">
        <div class="row col-sm-3 mx-auto custom_1 ">
            <div class=" text-center ">
                <img src="../../../../assets/logo/logo_navbar.png" class="col-6 mb-3">
                <p >SafeIn is a hotel booking manager where you can take a breathe. We care of you</p>
            </div>
            <div class="form-control bg-secondary rounded">
                <div class="bg-body d-flex flex-row rounded mt-3 ms-3 me-3">
                    <div class="col-sm-8 mt-3 text-left custom_form_1 ms-3">
                        <h3>Login with your Username and Password</h3>
                    </div>
                    <div class="col-sm-3 float-right me-3">
                        <i class="bi bi-unlock-fill"></i>
                    </div>

                </div>

                <div class="col-sm-11 mb-3 mt-3 ">
                    <input type="text" class="form-control" id="inputUsername1" placeholder="Username">
                </div>
                <div class="col-sm-11 mb-3">
                    <input type="password" class="form-control" id="inputPassword1" placeholder="Password">
                </div>
                <div class="col-sm-11 mb-3 ms-3 me-3">
                    <button class="form-control btn btn-success" id="button1">Login</button>
                </div>
            </div>
        </div>
    </div>
</body>
