
<div class="container mt-3 bg-success rounded ">
    <h2>Edit Bookings</h2>
</div>

<div class="container box__container bg-light navbar navbar-expand-lg">
    <div id="edit-bookings" class="container">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            <li class="nav-item active ms-3 me-3 mt-3">
                <a href="" data-toggle="tab nav" class="nav-link"><i class="bi bi-plus-lg me-2"></i>Create Booking</a>
            </li >
            <li class="ms-3 me-3 mt-3" >
                <a href="#2tab" data-toggle="tab" class="nav-link"><i class="bi bi-pencil-square me-2"></i>Edit Booking</a>
            </li>
            <li class="ms-3 me-3 mt-3">
                <a href="#3tab" data-toggle="tab" class="nav-link"><i class="bi bi-trash3 me-2"></i>Delete Booking</a>
            </li>
        </ul>

<!--         <div class="tab-content clearfix">
            <div class="tab-pane active" id="1tab">
                <h3>Same as example 1 but we have now styled the tab's corner</h3>
            </div>
            <div class="tab-pane" id="2tab">
                <h3>We use the class nav-pills instead of nav-tabs which automatically creates a background color for
                    the tab</h3>
            </div>
            <div class="tab-pane" id="3tab">
                <h3>We applied clearfix to the tab-content to rid of the gap between the tab and the content</h3>
            </div>
        </div> -->
    </div>
</div>