<body class="container pt-3">
	<div class="container pt-3">


		<div class="row col-12">
			<div class="col-3 me-2"> <img src="../../../assets/logo/logo.png" alt="logo" class="col-12"></div>
			<div class="col-3 me-2"> <img src="../../../assets/logo/logo2.png" alt="logo2" class="col-12"></div>
			<div class="col-3 me-2"> <img src="../../../assets/logo/logo3.png" alt="logo3" class="col-12"></div>
		</div>


		<div class="row">
			<h1>Styling css</h1>

			<h1>Heading 1</h1>

			<h2>Heading 2</h2>

			<h3>Heading 3</h3>

			<h4>Heading 4</h4>

			<h5>Heading 5</h5>

			<h6>Heading 6</h6>

			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed pellentesque ac tellus porttitor rhoncus. Quisque nulla diam, tempor a augue quis, volutpat dictum velit. Curabitur condimentum vel purus et tristique. Ut id sem pharetra, ullamcorper est eu, fringilla elit. Curabitur id sodales felis, a condimentum lectus. Quisque tincidunt vestibulum ex a vulputate. Vestibulum rutrum, nunc sed ullamcorper consequat, leo sapien ultricies odio, at tristique sem ligula id ipsum. Aliquam non lectus ac purus pharetra feugiat non nec elit. Mauris nibh mauris, tincidunt et lacus in, tincidunt pellentesque diam. Nunc molestie sollicitudin eros et commodo. In ut velit ante. In sollicitudin, sapien at commodo finibus, quam nisi sagittis diam, vel dignissim tellus velit pharetra mauris. Curabitur a malesuada dolor. Duis dapibus ipsum ac ligula fermentum scelerisque. Nam venenatis lectus in bibendum dignissim..</p>

			<div class="mt-4 p-5 bg-success text-white rounded">
				<h1 class="text-white">Success Jumbotron Example</h1>
				<p>Lorem ipsum...</p>
			</div>
			<div class="row">
				<hr>
				<h3>Ordered List</h3>

				<ol>
					<li>List Item 1</li>
					<li>List Item 2</li>
					<li>List Item 3</li>
				</ol>

				<h3>Unordered List</h3>

				<ul>
					<li>List Item 1</li>
					<li>List Item 2</li>
					<li>List Item 3</li>
				</ul>

				<hr>
				<label>LABEL: List Item 1</label>
				<hr>
				<span> SPAN: Lorem Ipsum Lorem ipsum</span>
				<hr>
				<input type="text" placeholder="Lore ipsum">
				<hr>
			</div>

			<div class="row">
				<h2>HTML Table</h2>

				<table>
					<tr>
						<th>Company</th>
						<th>Contact</th>
						<th>Country</th>
					</tr>
					<tr>
						<td>Alfreds Futterkiste</td>
						<td>Maria Anders</td>
						<td>Germany</td>
					</tr>
					<tr>
						<td>Centro comercial Moctezuma</td>
						<td>Francisco Chang</td>
						<td>Mexico</td>
					</tr>
					<tr>
						<td>Ernst Handel</td>
						<td>Roland Mendel</td>
						<td>Austria</td>
					</tr>
					<tr>
						<td>Island Trading</td>
						<td>Helen Bennett</td>
						<td>UK</td>
					</tr>
					<tr>
						<td>Laughing Bacchus Winecellars</td>
						<td>Yoshi Tannamuri</td>
						<td>Canada</td>
					</tr>
					<tr>
						<td>Magazzini Alimentari Riuniti</td>
						<td>Giovanni Rovelli</td>
						<td>Italy</td>
					</tr>
				</table>
			</div>
			<hr>
			<div class="row">
				<button type="button" class="btn">Button Basic without bootstrap</button>
				<button type="button" class="btn" disabled>Button disabled without bootstrap</button>
				<button type="button" class="btn btn-primary">Primary</button>
				<button type="button" class="btn btn-secondary">Secondary</button>
				<button type="button" class="btn btn-success">Success</button>
				<button type="button" class="btn btn-info">Info</button>
				<button type="button" class="btn btn-warning">Warning</button>
				<button type="button" class="btn btn-danger">Danger</button>
				<button type="button" class="btn btn-dark">Dark</button>
				<button type="button" class="btn btn-light">Light</button>
				<button type="button" class="btn btn-link">Link</button>

				<div class="dropdown">
					<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
						Dropdown button
					</button>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item" href="#">Link 1</a></li>
						<li><a class="dropdown-item" href="#">Link 2</a></li>
						<li><a class="dropdown-item" href="#">Link 3</a></li>
					</ul>
				</div>

				<div class="row col-12">
					<div class="col-12 me-2"> <img src="../../../assets/images/mapamundi_background.png" alt="logo"
							class="col-12"></div>
				</div>

			</div>
		</div>
	</div>
</body>