<div class="container">
	<div class="row">
		<h1>Styling css</h1>

		<h1>Heading 1</h1>

		<h2>Heading 2</h2>

		<h3>Heading 3</h3>

		<h4>Heading 4</h4>

		<h5>Heading 5</h5>

		<h6>Heading 6</h6>

		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Morbi mollis, massa et vulputate dignissim, tortor
			nulla rhoncus velit, ac posuere magna purus vitae metus. Cras vulputate, eros vel mollis auctor, magna orci
			iaculis justo, sit amet maximus ligula lacus et elit. Aliquam eu tortor quis magna lacinia scelerisque.
			Maecenas in ex sed lectus facilisis tincidunt. Sed sed dictum eros. Donec eleifend ullamcorper est eget
			tristique. Nullam tincidunt lorem sit amet convallis posuere. Suspendisse vitae tellus ornare, molestie diam
			nec, blandit nisl. In porta massa id elit posuere, non feugiat mi mattis. Nulla facilisi. Proin sed mi at
			lectus porta faucibus. Phasellus at sem molestie, bibendum sem sit amet, facilisis elit. Nulla eleifend
			gravida fringilla.</p>

		<div class="mt-4 p-5 bg-success text-white rounded">
			<h1 class="text-white">Success Jumbotron Example</h1>
			<p>Lorem ipsum...</p>
		</div>
		<div class="row">
			<hr>
			<h3>Ordered List</h3>

			<ol>
				<li>List Item 1</li>
				<li>List Item 2</li>
				<li>List Item 3</li>
			</ol>

			<h3>Unordered List</h3>

			<ul>
				<li>List Item 1</li>
				<li>List Item 2</li>
				<li>List Item 3</li>
			</ul>

			<hr>
			<label>LABEL: List Item 1</label>
			<hr>
			<span> SPAN: Lorem Ipsum Lorem ipsum</span>
			<hr>
			<input type="text" placeholder="Lore ipsum">
			<hr>
		</div>

		<div class="row">
			<h2>HTML Table</h2>

			<table>
				<tr>
					<th>Company</th>
					<th>Contact</th>
					<th>Country</th>
				</tr>
				<tr>
					<td>Alfreds Futterkiste</td>
					<td>Maria Anders</td>
					<td>Germany</td>
				</tr>
				<tr>
					<td>Centro comercial Moctezuma</td>
					<td>Francisco Chang</td>
					<td>Mexico</td>
				</tr>
				<tr>
					<td>Ernst Handel</td>
					<td>Roland Mendel</td>
					<td>Austria</td>
				</tr>
				<tr>
					<td>Island Trading</td>
					<td>Helen Bennett</td>
					<td>UK</td>
				</tr>
				<tr>
					<td>Laughing Bacchus Winecellars</td>
					<td>Yoshi Tannamuri</td>
					<td>Canada</td>
				</tr>
				<tr>
					<td>Magazzini Alimentari Riuniti</td>
					<td>Giovanni Rovelli</td>
					<td>Italy</td>
				</tr>
			</table>
		</div>
		<hr>
		<div class="row">
			<button type="button" class="btn">Button Basic without bootstrap</button>
			<button type="button" class="btn" disabled>Button disabled without bootstrap</button>
			<button type="button" class="btn btn-primary">Primary</button>
			<button type="button" class="btn btn-secondary">Secondary</button>
			<button type="button" class="btn btn-success">Success</button>
			<button type="button" class="btn btn-info">Info</button>
			<button type="button" class="btn btn-warning">Warning</button>
			<button type="button" class="btn btn-danger">Danger</button>
			<button type="button" class="btn btn-dark">Dark</button>
			<button type="button" class="btn btn-light">Light</button>
			<button type="button" class="btn btn-link">Link</button>

			<div class="dropdown">
				<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown">
					Dropdown button
				</button>
				<ul class="dropdown-menu">
					<li><a class="dropdown-item" href="#">Link 1</a></li>
					<li><a class="dropdown-item" href="#">Link 2</a></li>
					<li><a class="dropdown-item" href="#">Link 3</a></li>
				</ul>
			</div>

		</div>