<div class="input-group mb-3 m-3">
	<button class="btn btn-primary" type="button" (click)="getCountryById(countriesInput.value)">By country Id</button>
	<button class="btn btn-primary" type="button">By country code</button>
	<input type="text" class="form-control md-7" placeholder="Search" #countriesInput>
</div>

<table class="table table-borderless">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Code</th>
			<th scope="col">Country name</th>
			<th scope="col">Longitude</th>
			<th scope="col">Latitude</th>
			<th scope="col">Situation</th>
		</tr>
	</thead>
	<tbody>
		<tr *ngFor="let country of countryList">
			<th scope="row">{{country.id}}</th>
			<td>{{country.countryCode}}</td>
			<td>{{country.countryName}}</td>
			<td>{{country.longitude}}</td>
			<td>{{country.latitude}}</td>
			<td>{{country.situation}}</td>
	</tbody>
</table>
