<div class="bg-success rounded">
	<h2>Data viewer</h2>
</div>

<nav>
	<div class="nav nav-tabs bg-light navbar-expand-lg box__container " id="nav-tab" role="tablist">
		<button class="nav-link active rounded text-dark" id="nav-customers-tab" data-bs-toggle="tab"
			data-bs-target="#nav-customers" type="button" role="tab" aria-controls="nav-customers"
			aria-selected="true">Customers</button>
		<button class="nav-link rounded text-dark" id="nav-countries-tab" data-bs-toggle="tab"
			data-bs-target="#nav-countries" type="button" role="tab" aria-controls="nav-countries"
			aria-selected="false">Countries</button>
	</div>
</nav>
<div class="tab-content bg-light rounded mt-0" id="nav-tabContent">
	<div class="tab-pane fade show active" id="nav-customers" role="tabpanel" aria-labelledby="nav-customers-tab"
		tabindex="0">
		<app-customer-viewer-column-customer></app-customer-viewer-column-customer>
	</div>
	<div class="tab-pane fade" id="nav-countries" role="tabpanel" aria-labelledby="nav-countries-tab"
		tabindex="1">
		<app-bookings-viewer-column-countries></app-bookings-viewer-column-countries>
	</div>
</div>
