<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html>
<div class="container-fluid g-0">

	<!-- Topbar -->
	<div class="row g-0 topbar">
		<app-topbar></app-topbar>
	</div>


	<div class="row">

		<!--<app-style-test></app-style-test>-->
		<router-outlet></router-outlet>

		<div class="col-md-3 p-0">
		<!-- Sidebar menu -->
		<div class="col-md-1 p-0">
			<div class="sidebar">
				<app-navbar></app-navbar>
				<!--<app-booking-list></app-booking-list>-->

			</div>
		</div>
		<!-- 	Page Container -->
		<div class="col-md-11">
			<div class="page">
				<router-outlet></router-outlet>
			</div>
		</div>

	</div>
</div>

</html>


<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
