<!-- Main view container -->
<html>
<div class="container-fluid g-0">

    <!-- Topbar -->
    <div class="row g-0 topbar">
        <app-topbar></app-topbar>
    </div>


    <div class="row">

        <!--<app-style-test></app-style-test>-->
        <!-- <router-outlet></router-outlet> -->

        <div class="col-md-1 p-0">
            <!-- Sidebar menu -->
            <div class="col-md-1 p-0">
                <div class="sidebar">
                    <app-navbar></app-navbar>
                    <!--<app-booking-list></app-booking-list>-->

                </div>
            </div>
        </div>
        <!-- 	Page Container -->
        <div class="col-md-11">
            <div class="page">


                <router-outlet></router-outlet>
            </div>
        </div>
    </div>
</div>




</html>