.checkbox-input{
    border-radius: 0px;
    color: dimgray;
}
form {
    overflow: hidden;
  }
  input,select {
    float: right;
    clear: both;
  }

  label{
    float: left;
  }

/* .col-form-label{
  font-size: 16px !important;
} */