.checkbox-input{
    border-radius: 0px;
    color: dimgray;
}
form {
    overflow: hidden;
  }
  input,select {
    float: right;
    clear: both;
  }

  .form-checkbox-input{
    float: center !important;
  }

  .form-checkbox-input:checked{
    float: center !important;
    background-color: black;
  }

  label{
    float: left;
  }

/* .col-form-label{
  font-size: 16px !important;
} */