<div class="input-group mb-3 m-3">
	<button class="btn btn-primary" type="button" (click)="listRoomsById(inputRoom.value)">By room id</button>
	<button class="btn btn-primary" type="button" (click)="listRoomsByHotelId(inputRoom.value)">By hotel id</button>
	<button class="btn btn-primary" type="button" (click)="listRoomsByNumPeople(inputRoom.value)">By number of
		people</button>
	<button class="btn btn-primary" type="button" (click)="listRoomsByInternetType(inputRoom.value)">By internet
		type</button>
	<button class="btn btn-primary" type="button" (click)="listRoomsBySmoker(inputRoom.value)">By smoker</button>
	<button class="btn btn-primary" type="button" (click)="listRoomsByHasTerrace(inputRoom.value)">By has terrace</button>
	<button class="btn btn-primary" type="button" (click)="listRoomsByNumpeopleAndHotelId(inputRoom.value)">By hotel
		id/num people</button>
	<input type="text" class="form-control md-7" placeholder="Search" #inputRoom>
</div>

<table class="table table-hover table-borderless">
	<thead>
		<tr>
			<th scope="col">Id</th>
			<th scope="col">Hotel name</th>
			<th scope="col">Room code</th>
			<th scope="col">Internet type</th>
			<th scope="col">Terrace</th>
		</tr>
	</thead>
	<tbody>
		<tr data-bs-toggle="modal" data-bs-target="#roomsModal" *ngFor="let hroom of roomList" (click)="assignRoom(hroom)">
			<ng-container *ngIf="hroom">
				<th scope="row">{{hroom.id}}</th>
				<ng-container *ngIf="hroom.hotel">
					<td>{{hroom.hotel.name}}</td>
				</ng-container>
				<td>{{hroom.code}}</td>
				<td>{{hroom.internetType}}</td>
				<td>{{hroom.hasTerrace}}</td>
			</ng-container>
		</tr>

	</tbody>
</table>


<!-- The Modal -->
<div class="modal" id="roomsModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content bubble shadow">

			<!-- Modal Header -->
			<div class="modal-header">
				<h3 class="modal-title">Room</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<ng-container *ngIf="room">
					<p>Id: {{room.id}}</p>
					<p>Num People: {{room.numPeople}}</p>
					<p>Price per night: {{room.pricePerNight}}</p>
					<p>Internet Type: {{room.internetType}}</p>
					<p>Has Terrace: {{room.hasTerrace}}</p>
					<h4>Belongs to hotel:</h4>
					<p>Id: {{room.hotel.id}}</p>
					<p>Name: {{room.hotel.name}}</p>
					<p>Phone number: {{room.hotel.phonenumber}}</p>
					<p>Email: {{room.hotel.email}}</p>
					<p>Address: {{room.hotel.address}}</p>
					<p>Security level: {{room.hotel.securityLevel}}</p>
					<p>Energy sufficient: {{room.hotel.energySuficient}}</p>
					<h4>City:</h4>
					<p>id: {{room.hotel.city.id}}</p>
					<p>Name: {{room.hotel.city.name}}</p>
					<h4>Country:</h4>
					<p>Id: {{room.hotel.city.country.id}}</p>
					<p>Country code: {{room.hotel.city.country.countryCode}}</p>
					<p>Country name: {{room.hotel.city.country.countryName}}</p>
					<p>Situation: {{room.hotel.city.country.situation}}</p>
				</ng-container>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
