.bubble {
    color: #BCA162;
    border: solid #BCA162 5px;
    border-radius: 10px;
    background-color: #F6EEDF;
}

.bubble-heading {
    color: #BCA162;
    border: solid #BCA162 5px;
    border-radius: 5px;
    background-color: #F6EEDF;
}
