<div class="col">
	<div class="bubble text-center mb-2">
		<h3>Latest bookings</h3>
	</div>
	<div class="bubble shadow">
		<table class="table">
			<thead>
				<tr>
					<th scope="col">Id</th>
					<th scope="col">Arrival date</th>
					<th scope="col">Departure date</th>
					<th scope="col">Panding Pay</th>
					<th scope="col">Country</th>
					<th scope="col">Action</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<th scope="row">1</th>
					<td>2023-09-14:00</td>
					<td>2023-09-16T12:00:00</td>
					<td>False</td>
					<td>Bhutan</td>
					<td>
						<div class="btn-group">
							<!-- Button group with 2 action, view and edit; -->
							<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#myModal">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
									viewBox="0 0 16 16">
									<path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
									<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
								</svg>
							</button>
							<button type="button" class="btn btn-primary">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-pencil-square" viewBox="0 0 16 16">
									<path
										d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
									<path fill-rule="evenodd"
										d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
								</svg>
							</button>
						</div>
					</td>
				</tr>
				<tr>
					<th scope="row">2</th>
					<td>2023-09-14T1:00</td>
					<td>2023-09-16T12:00:00</td>
					<td>False</td>
					<td>Bhutan</td>
					<td>
						<div class="btn-group">
							<!-- Button group with 2 action, view and edit; -->
							<button type="button" class="btn btn-primary">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye"
									viewBox="0 0 16 16">
									<path
										d="M16 8s-3-5.5-8-5.5S0 8 0 8s3 5.5 8 5.5S16 8 16 8zM1.173 8a13.133 13.133 0 0 1 1.66-2.043C4.12 4.668 5.88 3.5 8 3.5c2.12 0 3.879 1.168 5.168 2.457A13.133 13.133 0 0 1 14.828 8c-.058.087-.122.183-.195.288-.335.48-.83 1.12-1.465 1.755C11.879 11.332 10.119 12.5 8 12.5c-2.12 0-3.879-1.168-5.168-2.457A13.134 13.134 0 0 1 1.172 8z" />
									<path d="M8 5.5a2.5 2.5 0 1 0 0 5 2.5 2.5 0 0 0 0-5zM4.5 8a3.5 3.5 0 1 1 7 0 3.5 3.5 0 0 1-7 0z" />
								</svg>
							</button>
							<button type="button" class="btn btn-primary">
								<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
									class="bi bi-pencil-square" viewBox="0 0 16 16">
									<path
										d="M15.502 1.94a.5.5 0 0 1 0 .706L14.459 3.69l-2-2L13.502.646a.5.5 0 0 1 .707 0l1.293 1.293zm-1.75 2.456-2-2L4.939 9.21a.5.5 0 0 0-.121.196l-.805 2.414a.25.25 0 0 0 .316.316l2.414-.805a.5.5 0 0 0 .196-.12l6.813-6.814z" />
									<path fill-rule="evenodd"
										d="M1 13.5A1.5 1.5 0 0 0 2.5 15h11a1.5 1.5 0 0 0 1.5-1.5v-6a.5.5 0 0 0-1 0v6a.5.5 0 0 1-.5.5h-11a.5.5 0 0 1-.5-.5v-11a.5.5 0 0 1 .5-.5H9a.5.5 0 0 0 0-1H2.5A1.5 1.5 0 0 0 1 2.5v11z" />
								</svg>
							</button>
						</div>
					</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<!-- The Modal -->
<div class="modal" id="myModal">
	<div class="modal-dialog modal-dialog-centered">
		<div class="modal-content bubble shadow">

			<!-- Modal Header -->
			<div class="modal-header">
				<h3 class="modal-title">Booking</h3>
				<button type="button" class="btn-close" data-bs-dismiss="modal"></button>
			</div>

			<!-- Modal body -->
			<div class="modal-body">
				<p>Id: 1</p>
				<p>Date of arrival: 2023-09-14T12:00:00</p>
				<p>Departure date: 2023-09-16T12:00:00</p>
				<h4>Booking data:</h4>
				<p>Id: 1</p>
				<p>Ammount: 0</p>
				<p>Number of people: 0</p>
				<p>Payed: False</p>
				<p>Payment pending: True</p>
				<h4>Customer:</h4>
				<p>Id: 4</p>
				<p>Name: Robert Kappa</p>
				<p>Email: rcopa@gmail.com</p>
				<p>Press Media: Freelancer</p>
				<p>Doc Identifier: DNI</p>
				<p>Num Identifier: 20394826</p>
				<p>Phonenumber: +34183564784</p>
				<h5>Customer county:</h5>
				<p>Country code: SO</p>
				<p>Country name: Somalia</p>
				<p>Situation: War</p>
				<p>Longitude: 10</p>
				<p>Latitude: 49</p>
				<h4>Hotel</h4>
				<p>Id: 1</p>
				<p>Name: Hotel Palace</p>
				<p>Phonenumber: +34555555555</p>
				<p>Email: reboca@gmail.com</p>
				<p>Address: Arbeitzer street 5</p>
				<p>Latitude: 37.7749</p>
				<p>Longitude: -122.4194</p>
				<p>Security level: Diplomatic coverage and private security</p>
				<p>Energy Suficient: True</p>
				<h5>Room:</h5>
				<p>Id: 1</p>
				<p>Code: 103</p>
				<p>Number of people: 1</p>
				<p>Price per night: 59.99</p>
				<p>Internet Type: Fiber</p>
				<p>Has terrace: True</p>
				<h5>Hotel's City:</h5>
				<p>id: 1</p>
				<p>Name: Kirtze</p>
				<p>Latitude: 37.7749</p>
				<p>Longitude: -122.4194</p>
				<h5>Hotel's Country</h5>
				<p>Country code: BU</p>
				<p>Country name: Bhutan</p>
				<p>Situation: War</p>
				<p>Longitude: 10</p>
				<p>Latitude: 49</p>
			</div>
			<!-- Modal footer -->
			<div class="modal-footer">
				<button type="button" class="btn btn-danger" data-bs-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>
